{
    "fastq_dir":"",
    "r1_fastq_pattern":"",
    "r2_fastq_pattern":"",
    "annotations":"",
    "star_index_path":"",
    "output_dir":"",
    "contrasts":"",
    "sjdb_overhang": ,
    "strandedness": 
}